In [ ]:
import numpy as np
import pandas as pd

In [ ]:
n_rows = 10
n_cols = 5
cols = tuple ('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)
df

    A   B   C   D   E
0   5   7   1  15   7
1  10  14   6  15   8
2  10   5   7   8  19
3  14   4  13   8  13
4   1   1   6   5   4
5  18  15   7  17   4
6  14  13   6   6   2
7  10  14  10  11   9
8   6  19   8  18   1
9  10  17  17   1  15

In [ ]:
#seleksi column dan baris menggunakan loc
df.loc[[0,3,4], ['B', 'E']]

   B   E
0  7   7
3  4  13
4  1   4

In [ ]:
#seleksi baris dengan kondisi
df.loc[df['B']>10, ['B', 'D', 'E']]

    B   D   E
1  14  15   8
5  15  17   4
6  13   6   2
7  14  11   9
8  19  18   1
9  17   1  15

In [ ]:
#slicing data frame, start index end index inklusif
df.loc[0:4, 'B':'D']

    B   C   D
0   7   1  15
1  14   6  15
2   5   7   8
3   4  13   8
4   1   6   5

In [ ]:
#data frame baru, tipe data integer
data = {'day':[1,2,10,25,12], 'month':[1,2,4,5,6], 'year':[2000,2001,2010,2015,2020]}
df = pd.DataFrame(data)
df

   day  month  year
0    1      1  2000
1    2      2  2001
2   10      4  2010
3   25      5  2015
4   12      6  2020

In [ ]:
df['penanggalan'] = pd.to_datetime(df[['day','month','year']])
df

   day  month  year penanggalan
0    1      1  2000  2000-01-01
1    2      2  2001  2001-02-02
2   10      4  2010  2010-04-10
3   25      5  2015  2015-05-25
4   12      6  2020  2020-06-12

In [ ]:
df.dtypes

day                     int64
month                   int64
year                    int64
penanggalan    datetime64[ns]
dtype: object

In [ ]:
n_rows = 10
n_cols = 1
cols = ('usia',)

df_usia = pd.DataFrame(np.random.randint(1,99, size=(n_rows, n_cols)), columns=cols)
df_usia

   usia
0    19
1    38
2    80
3    73
4    70
5    10
6    50
7    36
8    87
9    41

In [ ]:
#pengelompokkan nilai numerik kedalam beberapa kategori menggunakan cut()
df_usia['kelompok_usia'] = pd.cut(df_usia['usia'], bins = [0, 18, 65, 99], labels = ['anak', 'dewasa', 'manula'])
df_usia

   usia kelompok_usia
0    19        dewasa
1    38        dewasa
2    80        manula
3    73        manula
4    70        manula
5    10          anak
6    50        dewasa
7    36        dewasa
8    87        manula
9    41        dewasa

In [ ]:
n_rows = 5
n_cols = 5
cols = tuple ('ABCDE')

df_a = pd.DataFrame(np.random.randint(1,20, size=(n_rows, n_cols)), columns=cols)
df_a

    A   B   C   D   E
0  15   7   5  18  10
1  14   7   4  10   3
2  17  13  16   3  10
3  13   2   9   2   7
4  12   3  13  16  19

In [ ]:
#pecah data frame menjadi dua
df1 = df_a.copy(deep=True)
df1 = df1.drop([1,4])
df1

    A   B   C   D   E
0  15   7   5  18  10
2  17  13  16   3  10
3  13   2   9   2   7

In [ ]:
df2 = df_a.copy(deep=True)
df2 = df2.drop([0,3])
df2

    A   B   C   D   E
1  14   7   4  10   3
2  17  13  16   3  10
4  12   3  13  16  19

In [ ]:
#menggunakan method merge untuk menggabungkan 2 df 
#inner dikedua dataframe datanya ada semua
#index reset kembali jadi 0

df_inner = pd.merge(df1,df2,how='inner')
df_inner

    A   B   C  D   E
0  17  13  16  3  10

In [ ]:
df_outer = pd.merge(df1,df2,how='outer')
df_outer

    A   B   C   D   E
0  15   7   5  18  10
1  17  13  16   3  10
2  13   2   9   2   7
3  14   7   4  10   3
4  12   3  13  16  19